<?xml version="1.0"?>
<config>
    <modules>
        <Ve_Interactive>
            <version>0.1.0</version>
        </Ve_Interactive>
    </modules>
    <global>
        <models>
            <ve_interactive>
                <class>Ve_Interactive_Model</class>
                <resourceModel>ve_interactive_resource</resourceModel>
            </ve_interactive>
            <ve_interactive_resource>
                <class>Ve_Interactive_Model_Resource</class>
            </ve_interactive_resource>
        </models>
        <blocks>
            <ve_interactive>
                <class>Ve_Interactive_Block</class>
            </ve_interactive>
        </blocks>
        <helpers>
            <ve_interactive>
                <class>Ve_Interactive_Helper</class>
            </ve_interactive>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <ve_interactive>
                    <file>ve/interactive/core.xml</file>
                </ve_interactive>
            </updates>
        </layout>
    </frontend>
</config>